/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* default css  */
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
*{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;;
    opacity: 0;
    color: #fff;
}
.naimur-height-100{
    height: 100vh;
}
/* scrollbar change */
/* width */

::-webkit-scrollbar {
    width: 0px;
} 
::-webkit-scrollbar-track {
    background: red;
}
 
::-webkit-scrollbar-thumb {
    background: blue;
} 
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.scrollbar_wrapper{
    position: fixed;
    width: 6px;
    height: 100vh;
    z-index: 9999;
    top:0;
    right: 0;
    background:#333;
    border-radius: 0 0 10px 10px ;
    overflow: hidden;
}
.scroll{
    width: 100%;
    background:linear-gradient(#2b1055,#7597de);
    border-radius: 0 0 10px 10px ; 
    animation: animate 5s linear infinite; 
}
@keyframes animate {
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
/* cursor   */
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    left: 0;
    top:0;
    border: 1px solid #7ea4f5;
    pointer-events: none;
    transform: translate(-50%, -50%); 
    z-index: 10000000;
    transition: .1s;
}
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%; 
    left: 0;
    top:0; 
    background: #7ea4f5;
    pointer-events: none;
    transform: translate(-50%, -50%); 
    z-index: 10000000;
    transition: .15s; 
} 
/* nav */
/* svg */
#svg_wrapper{
    width: 90px;
    height: 56px;
    position: absolute;
    top: 0;
}
/* signature animation  */
#signature{ 
    stroke-dasharray: 2697;
    stroke-dashoffset: 2697;
    animation:  4s ease ;
    animation-fill-mode: forwards;
}
#svg_wrapper:hover #signature{
    animation-name:sig; 
    animation-iteration-count: infinite;  

} 
@keyframes sig{
    to{
    stroke-dashoffset: 0;
    }
} 
#signature_last{
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    animation: .3s ease 3.5s; 
    animation-fill-mode: forwards;
} 
@keyframes sig_last{
    to{
        stroke-dashoffset: 0;
    }
}
#svg_wrapper:hover #signature_last{ 
    animation:sig_last 4s ease; 
    animation-iteration-count: infinite;  
    animation-delay: 4s;

} 
/* hover  */

/* hover second */
/* #svg_wrapper:hover #signature_last{  
    animation-name: sig_last;
}
@keyframes sig_last_hover{
    to{
    stroke-dashoffset: 0;
    }
} */

/*------------------
header section
*/  
.top-header{
    position: relative;
    width: 100%;
    height: 100vh; 
    padding: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.top-header::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 15;
}
/*--------------------
 header parallax img css code 
*/
.top-header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* pointer-events: none; */
}
.top-header img#moon{
    mix-blend-mode: screen;
}
#mountains_front{
    z-index: 10;
}
#header_text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    transform: translateY(-50px);
    right: -450px;
    
}
.naimur_btn{
    z-index: 9; 
    transform: translateY(80px); 
}
/*-------------
 about me section  
 */

.about_me_section{ 
    background: #1c0522;  
}  
.about_me_text_wrapper div span{
    opacity: 0.8;  
    color: #fff; 
    font-size: 4em; 
    font-weight: 600; 
    color: transparent; 
    margin-bottom: 10px; 
    transition: color .3s; 
    -webkit-text-stroke:2px #fff ;
} 
.about_me_text_wrapper div span:hover{
    color: #7ea4f5;
    -webkit-text-stroke-color:#7ea4f5; 
}

.about_me_section .about_me_text_wrapper div span.text-stop{
    color: white;  
    -webkit-text-stroke: 2px #fff;
}

.about_me_text_wrapper div span{ 
    letter-spacing: 1px;
}
.about_me_text_wrapper div.animation-1{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
}  
/* animation  */
@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}                 
@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
} 

/* skill section  */
.skilled{
    height: 100vh;
    width: 100%; 
    left: 0;
    top: 0; 
}
.skill_fake{
    height: 300vh;
    width: 100%;
}

.left_skill{
    width: 50%;
}
.projects{ 
    width: 50%;
}
.project{
    height: 100vh;  
}
.bg-s{
    background: #000;
} 
.iframe_wrapper{
    width: 100%; 
}
.iframe_wrapper iframe{
    width: 1360px;
    height: 200vh;
    overflow-y: hidden;
    transform:  scale(0.5);
    transform-origin: top left; 
}