/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* default css  */
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
*{
    scroll-behavior: smooth;
    cursor: none ;

}
body{
    min-height: 100vh;
    background: #1c0522;  
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: #fff; 
}
.naimur-height-100{
    min-height: 100vh;
}
/* scrollbar change */
/* width */

body::-webkit-scrollbar {
    width: 0px;
} 
body::-webkit-scrollbar-track {
    background: rgb(81, 71, 71);
}
 
body::-webkit-scrollbar-thumb {
    background: rgb(12, 12, 15);
} 
body::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
 

.scrollbar_wrapper{
    position: fixed;
    width: 5px;
    height: 100vh;
    z-index: 9999;
    top:0;
    right: 0;
    background:#333;
    border-radius: 0 0 10px 10px ;
    overflow: hidden;
}
.scroll{
    width: 100%;
    background: #fff;
    border-radius: 0 0 10px 10px ; 
    /* animation: animate 5s linear infinite;  */
}
@keyframes animate {
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
/* cursor   */
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    left: 0;
    top:0;
    border: 1px solid #7ea4f5;
    pointer-events: none;
    transform: translate(-50%, -50%); 
    z-index: 10000000;
    transition: .1s;
}
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%; 
    left: 0;
    top:0; 
    background: #7ea4f5;
    pointer-events: none;
    transform: translate(-50%, -50%); 
    z-index: 10000000;
    transition: .15s; 
} 
/* nav */
#nav{
    transition: .3s;
}
/* svg */
#svg_wrapper{
    width: 90px;
    height: 56px;
    position: absolute;
    top: 0;
}
/* signature animation  */
#signature{ 
    stroke-dasharray: 2697;
    stroke-dashoffset: 2697;
    animation:  4s ease ;
    animation-fill-mode: forwards;
}
#svg_wrapper:hover #signature{
    animation-name:sig; 
    animation-iteration-count: infinite;  

} 
@keyframes sig{
    to{
    stroke-dashoffset: 0;
    }
} 
#signature_last{
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    animation: .3s ease 3.5s; 
    animation-fill-mode: forwards;
} 
@keyframes sig_last{
    to{
        stroke-dashoffset: 0;
    }
}
#svg_wrapper:hover #signature_last{ 
    animation:sig_last 4s ease; 
    animation-iteration-count: infinite;  
    animation-delay: 4s;

} 
.form-all{
    background: transparent;
}
/* hover  */

/* hover second */
/* #svg_wrapper:hover #signature_last{  
    animation-name: sig_last;
}
@keyframes sig_last_hover{
    to{
    stroke-dashoffset: 0;
    }
} */

/*------------------
header section
*/  
.top-header{
    position: relative;
    width: 100%;
    height: 100vh; 
    padding: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.top-header::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 15;
}
/*--------------------
 header parallax img css code 
*/
.top-header-warper{
    height: 100vh;
}
.sadi-img{
    opacity: .92;
}
.top-header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* pointer-events: none; */
}
.top-header img#moon{
    mix-blend-mode: screen;
}
#mountains_front{
    z-index: 10;
}
 
.naimur_btn{
    z-index: 9; 
    transform: translateY(80px); 
    
} 
.about_me_text_container{  
    z-index:  10; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*-------------
 about me section  
 */

.about_me_section{ 
    background: #1c0522;  
}  
.about_me_text_wrapper div span{
    opacity: 0.8;  
    color: #fff; 
    font-size: 4em; 
    font-weight: 600; 
    color: transparent; 
    transition: all .3s; 
    -webkit-text-stroke:2px #fff ;
} 
.about_me_text_wrapper div span:hover{
    color:#f51a75 ;
    -webkit-text-stroke-color:#f51a75; 
}

.about_me_section .about_me_text_wrapper div span.text-stop{
    color: white;  
    -webkit-text-stroke: 2px #fff;
}

.about_me_text_wrapper div span{ 
    letter-spacing: 1px;
}
.about_me_text_wrapper div.animation-1{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
}  
/* animation  */
@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}                 
@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
} 

/* my img scratch */ 
 

/* skill section  */
.details-por-wrapper{
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}

.project-wrapper{
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 30px;  
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2) , 0 0px 50px rgba(0, 0, 0, 0.2);
}
/* 3d */

.project img{     
    visibility: hidden;
    z-index: 1;
}  
.project-s{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover !important;
    background-position: top center ;
    transition: 10s ease;
} 
.project-1{
    /* background-color: red; */
    background: url('/assets/images/projectss/hot.jpg');
    /* background-position: center; */
    
}
.project-2{
    /* background-color: red; */
    background: url('/assets/images/projectss/dronehouse.jpg');
    /* background-position: center; */ 
}
.project-3{
    /* background-color: red; */
    background: url('/assets/images/projectss/hashtour.jpg');
    /* background-position: center; */ 
}
.project-4{
    /* background-color: red; */
    background: url('/assets/images/projectss/health.jpg');
    /* background-position: center; */ 
}
.project-5{
    /* background-color: red; */
    background: url('/assets/images/projectss/presento.jpg');
    /* background-position: center; */ 
    transition: 30s;

}
.project-wrapper:hover   .project-s{
    background-position: bottom center;
    
}
.sizes{
    display: flex;
    justify-content:space-between; 

}
.details a{  
    padding: 15px;
    text-decoration: none;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.904);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #c5c5c5;  
    transition: .3s;
} 
.details a:hover{
    color: white!important;
}
.purchase{
    margin-top: 2rem;
    margin-bottom: 2rem; 
}
.more a{
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0rem;
    background: #ffffff21;
    border:none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder; 
    transition:all 0.75s ease-out;  
}


















/* #magazine{
	width: 100%; 
    height:50vh;
    overflow: hidden;
}
#magazine .turn-page{
	background-color:#ccc;
}
.magazine-content {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#magazine .project-1 { 
    background-size: contain!important;
    background-position: center;
    background-repeat: no-repeat!important;
    background:url('../images/projectss/amires.PNG');
}
#magazine .project-2 { 
    background-size: contain!important;
    background-position: center;
    background-repeat: no-repeat!important;
    background:url('../images/projectss/Capture.PNG')
} */
/* .skilled{
    height: 100vh;
    width: 100%; 
    left: 0;
    top: 0; 
}
.skill_fake{
    height: 300vh;
    width: 100%;
}

.left_skill{
    width: 50%;
}
.projects{ 
    width: 50%; 
}
.project{
    height: 100vh;  
}
.bg-s{ 
    
    background: #1c0522;  
} 
 /* porject hover  */
 /*
 .containers{
    position:relative;
    width:800px;
    height:500px;
    background:#111;

}
.containers .clip{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:0.5s;
}
.containers .clip.clip1{
    background:url(../images/web/Screenshot_1.png);
    background-size:cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}
.containers .clip.clip2{ 
    background:url(../images/web/Screenshot_2.png);
    background-size:cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}
.containers .clip.clip3{ 
    background:url(../images/web/Screenshot_3.png);
    background-size:cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}
.containers:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.containers .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-position: bottom;
}
.content{
    position:absolute;
    bottom:-100%;
    left:0;
    width:65%;
    padding:10px;
    background:rgba(255,255,255,0.3);
    backdrop-filter:blur(24px);
    opacity:0;
    transition:0.5s;
}
.containers .clip:hover .content{
    bottom:0;
    opacity:1;
} */